*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  border: none; }

html {
  box-sizing: border-box; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5; }

a {
  text-decoration: none;
  color: currentColor; }

input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #fefefe;
  padding: 3rem 3rem; }
  .main__item {
    width: 100vw;
    padding: 2rem; }
    .main__item--1 {
      background-color: #e3edff; }
    .main__item--2 {
      background-color: #fefefe; }

.logo {
  color: #005eff; }

.input-section {
  display: flex;
  flex-direction: column; }
  .input-section__header {
    text-transform: capitalize;
    color: #005eff; }
  .input-section__sub-heading--bold {
    font-weight: bolder;
    color: #005eff; }

.form-group {
  display: flex;
  flex-direction: column; }
  .form-group .email-address,
  .form-group .password {
    display: flex;
    flex-direction: column;
    color: #005eff;
    font-weight: normal; }
  .form-group input {
    border: 2px solid #808080;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: lighter; }
    .form-group input:focus {
      outline: none; }
